.home-header {
  height: 70vh;
  background-image: url("https://storage.googleapis.com/hz_bucket/candle.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-header-box {
  color: #e9ecef;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(86, 85, 87, 0.5);
  width: 80%;
  border-radius: 10px;
}
.home-header-text {
  width: 80%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(121, 67, 23);
  color: antiquewhite;
  text-align: center;
  justify-content: center;

}
.row {
  width: auto;
  margin-right: 0em;
  padding-right: 0em;
}

.roll-bar {
  width: 100%;
  border: 1px solid rgba(202, 29, 29, 0.685);
  height: 30px;
  margin-left: 0em;
  padding-left: 0em;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {

.home-header {
  width: auto;
}

.home-header-box {
  max-width: inherit;
  margin-left: 0.1em;
  margin-right: 0em;
  height: fit-content;
}
.home-header-title {
  margin: 0em;
}

.roll-bar {
  margin-left: 0em;
  margin-right: 0em;
  width: min-content;
  border: inherit;
}
.row {
  margin-right: 0em;
  margin-left: 0em;
  
}


}