.home-header {
  height: 70vh;
  background-image: url("https://storage.googleapis.com/hz_bucket/candle.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-header-box {
  color: #e9ecef;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(86, 85, 87, 0.5);
  width: 80%;
  border-radius: 10px;
}
.home-header-text {
  width: 80%;
}
.footer {
  display: flex;
  background-color: rgb(121, 67, 23);
  color: antiquewhite;
  text-align: center;
  justify-content: center;
}
